<h1>Welcome to your user dashboard, <%= @user.first_name %></h1>
<% @user.client.documents.each do |doc| %>
<%= doc.file_name %><br><br>
<% end %>
<a href="#" class="btn btn-lg btn-default">Default text here</a>