<div class="main-header">
  	<h1>BK Research, LLC</h1>
  	<%= image_tag("penguin_logo.png", :alt => "logo") %>
  </div>
</div>
	<div class="about-us">
    <div class="title">
  		<h2>About Us</h2><br>
		</div>
		<h3>To access the client system, please log in on the nav bar at the top of the page. <!-- If you don't already have an account, you can sign up for an account. --></h3>
		
		<p>BK Research, LLC is a third party sales and marketing firm that delivers high quality, differentiated research to the institutional investment community.</p>

		<p>BK Research LLC partners with and represents firms who add value to the buy-side in unique ways.</p>

		<p>The founding members have over ten years experience successfully selling independent research to hedge funds, mutual funds, pension funds and private equity companies.</p><br><br>
  </div>
  <div class="contact">
  	<div class="title">
  		<h2>Contact Us</h2><br>
		</div>
		<div class="contact-left">
			<h4>Email:</h4>
			<a href="mailto:matt@bkresearch.com"><p>matt@bkresearch.com</p></a>
			<h4>Phone:</h4>
			<p>917-521-5375</p>
			<h4>Address:</h4>
			<p>244 Fifth Avenue, <br>Suite M-226<br>New York, NY 10001</p>
		</div>
		<div class="contact-right">
			<embed width="320" height="270" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=244%205th%20Avenue%2C%20NY%2C%20United%20States&key=AIzaSyAYVdPeK6gjvmvCvkQ18smST6k2WW1Svrk"></embed>
		</div>	
  </div>
<div>