body {
  margin: 0;
  background-image: url(/images/nyc.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%
}

.navbar-btn {
  margin-right: 15px;
}

.navbar-text {
  padding: 0px;
  margin-right: 10px;
}

.main-header {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 40%;
  color: rgba(255,255,255,0.78);
}

.about-us {
  padding: 35px 10% 35px;
  background-color: rgba(255,255,255,1.0);
}

.title {
  text-align: center;
}

.contact {
  padding: 35px 10% 70px;
  margin-bottom: 50px;
  background-color: rgba(210,210,210,1.0);
}

.contact-left {
  float: left;
  left: 60%;
  padding: 21px 10%; 
  margin-left: 10%;
  margin-right: 10%;
}

.contact-right {
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer, p {
  padding-top: 7px;
}